# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet packages
packages/

# IIS Express
.vs/config/applicationhost.config

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# SQL Server
*.mdf
*.ldf

App_Data/*.mdf
App_Data/*.ldf